server:
  port: 8080

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: datttps37451@fpt.edu.vn
    password: gxwg orwu snox nwou
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=FASHION_SHOP;encrypt=false;trustServerCertificate=true;
    username: sa
    password: 123
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: vi
  security:
    oauth2:
      client:
#        registration:
#          google:
#            client-id: YOUR_FACEBOOK_APP_ID
#            client-secret: YOUR_FACEBOOK_APP_SECRET
#            redirect-uri: "TEST"
#            user-info-uri:
#
#            resource-server:
#              oqaque-token:
#                introspection-uri: "https://googleapis.com"


api:
  prefix: /api/v1

jwt:
  expiration: 2592000 #30 days = 30 * 24 * 60 * 60
  expiration-refresh-token: 5184000 #60 days = 60 * 24 * 60 * 60
  secretKey: TaqlmGv1iEDMRiFp/pHuID1+T84IABfuA0xXh4GhiUI=

  logging:
    level:
      root: DEBUG
      org.springframework: DEBUG
      org.testng: DEBUG

